.App {
  text-align: center;
  background-color: #dfe2e2;
  color: #313131;
  font-size: 1.4em;
}

.job-list {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.single-job {
  grid-column: 1/3;
  margin: 1.5em;
  border: 1px #313131 solid;
  padding: 10px;
  box-shadow: 5px 10px #204969;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.sj-title {
  grid-column: 1/2;
  font-weight: bolder;
  grid-row: 1/3;
  align-self: center;
  padding: 0;
}

.sj-company {
  grid-column: 1/2;
  font-weight: 600;
  grid-row: 3/4;
  padding: 0;
}

.sj-location {
  font-size: large;
  font-weight: 600;
  grid-column: 1/2;
  grid-row: 4/5;
  padding: 0.1em;
}
.sj-createdAt {
  font-size: medium;
  grid-column: 2/3;
  font-weight: 700;
  grid-row: 3/5;
  align-self: center;
  justify-self: center;
  padding: 0.5em;
  background-color: #0c9463;
  border-radius: 9%;
}
.single-job:hover {
  cursor: pointer;

  color: #09d3ac;
}

.bm-logo {
  height: 25px;
  float: right;
}
a {
  text-decoration: none;
}
